#navbar-bg{
    background-color: #10122E;
}
.scrolling{
  margin-top: 100px !important;
}
.animation-fade{
  animation:fade 6s infinite ease-in-out;   
 }
 @keyframes fade{
     0%{
         opacity: 1;
     }
     80%{
      opacity: 0;
     }
     100%{
      opacity: 1;
     }
 }