#navbar-bg{
    background-color: #10122E;
}
#anchor{
  cursor:pointer;
}
.scrolling{
  margin-top: 100px !important;
}
.animation-fade{
  animation:fade 6s infinite ease-in-out;   
 }
 @keyframes fade{
     0%{
         opacity: 1;
     }
     80%{
      opacity: 0;
     }
     100%{
      opacity: 1;
     }
 }
 @media only screen and (max-width:592px){
   .main-home{
     padding:15px;
   }
 }