@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    background:rgb(17, 34, 64);
    border-radius: 8px;;
}
::-webkit-scrollbar-thumb:hover{
    background:#48B9A5;
}
.App {
    background-color: #10122E;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: 'Kurale', serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    padding: 16px;
    height: 100%;
}
input, textarea{
    background-color: #112240 !important;
    border:none !important;
    padding:0 10px; 
    outline:none !important;
    color:#CCD6F6 !important;
}
small{
    margin:0 10px;
    font-family: 'Fira Code', monospace;
    color: #CCD6F6;
}
.main-container {
    width: 98%;
    margin: auto;
}
span{
    margin-bottom: 20px;
}

.common-margin {
    margin: 100px 0;
}
p{
    color: #CCD6F6;
}
#nav-links a {
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    line-height: normal;
    padding: 10px 20px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #CCD6F6;
}

#nav-links a:hover {
    transition: all 0.3s ease-in-out;
    color: #fe0f5d;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 3px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    color: #CCD6F6;
}

h1 {
    font-size: 4em !important;
}

h2 {
    font-size: 2.5rem !important;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3em;
}

button {
    border: 2px solid #FE0F5D;
    background: transparent;
    padding: 8px 16px;
    border-radius: 15px;
    background-color: #FE0F5D;
    outline: none;
    color: #fff;
}
.link {
    border: 2px solid #FE0F5D;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #FE0F5D;
    color: #fff !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon {
    background-color: #fff !important;
    padding: 20px;
    border-radius: 5px;
}

.navbar-toggler {
    border-color: none !important;
}

.title-color {
    color: #FE0F5D;
    font-weight: bold;
}

.heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    white-space: nowrap;
}

.heading::after {
    content: "";
    display: block;
    position: relative;
    top: -1px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #CCD6F6;
}
.right-heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    white-space: nowrap;
}
.right-heading::after{
    content: "";
    display: block;
    position: relative;
    top: -1px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #CCD6F6;
}

/* spinner */
.lds-hourglass {
    display: inline-block;
    position: relative;
    transform:translate(-50% -50%);
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  @media only screen and (max-width: 592px){
      h1{
          font-size: 3rem !important;
      }
      .typed-cursor{
          font-size: 2.5rem !important;
      }
  }
  
element.style {
}
.navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: 50%/100% 100% no-repeat;
}

.navbar-toggler-icon {
    background-color: transparent !important;
}
.navbar-light .navbar-toggler {
    border-color: transparent !important; 
}
  